<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
<system>
<tab id="tieuminh" translate="label" sortOrder="9000">
<label>TieuMinh</label>
</tab>
    <section id="training" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
        <class>Sperate Top</class>
<label>General</label>
<tab>tieuminh</tab>
        <group id="course_information" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
<label>Fresher</label>
        <field id="is_active" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
        <label>Is Active</label>
<!--            <source_model> </source_model>-->
        </field>
            <field id="name" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Name</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
        </group>
    </section>

</system>
</config>