<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="TieuMinh_SumUp1::post" title="Manage Post" module="TieuMinh_SumUp1" sortOrder="40" resource="TieuMinh_SumUp1::post" parent="Magento_Backend::content"/>
        <add id="TieuMinh_SumUp1::post_view" title="View" module="TieuMinh_SumUp1" sortOrder="10" parent="TieuMinh_SumUp1::post" action="sumup1/post/listing" resource="TieuMinh_SumUp1::post_view"/>
        <add id="TieuMinh_SumUp1::post_create" title="Create" module="TieuMinh_SumUp1" sortOrder="11" parent="TieuMinh_SumUp1::post" action="sumup1/post/creating" resource="TieuMinh_SumUp1::post_view"/>
    </menu>
</config>
